<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirm your email address</title>
</head>
<body style="font-family: sans-serif; color: #071E26; font-size: 16px">
    <p style="text-align: center">
        <img src="cid:app_logo" alt="{{ company_name }} Logo" style="width: 250px; height: 40px;" />
    </p>
    <p>Dear {{ user_email }},</p>
    <p>Thank you for registering with <span style="color: #FF5A4F;">{{ company_name }}</span>. To complete your registration and verify your email address, please click the link below:</p>
    <p style="margin: 40px 0px;">
        <a href="{{ link|safe }}" style="font-size:18px; font-weight:700; background: #FF5A4F; color: #fff; padding: 12px 24px; border-radius: 40px; text-decoration: none">
            Activate account
        </a>
    </p>
    <p>If you did not create an account with us, please disregard this email.</p>
    <p>Best regards,<br /><br />Your {{ company_name }} Team</p>
</body>
</html>