<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reset your password</title>
</head>
<body style="font-family: sans-serif; color: #535456; font-size: 16px">
    <p>Hello,</p>
    <p>We recently received a request to reset your password. If you made this request, please click on the following link to reset your password:</p>
    <p style="margin: 40px 0px">
        <a href="{{ link|safe }}" style="font-size: 18px; font-weight: 700; background: #2e3edf; color: #fff; padding: 12px 24px; border-radius: 40px; text-decoration: none">
            Reset password
        </a>
    </p>
    <p>Please note that for security reasons, this link is only valid for 24 hours.</p>
    <p>If you did not request a password reset, please ignore this email.</p>
    <p>Best regards,<br /><br />Your {{ company_name }} team!</p>
    <p>
        <img src="cid:app_logo" alt="{{ company_name }} Logo" style="width: 250px; height: 40px" />
    </p>
</body>
</html>