:80 {
	handle /static/* {
		root * /srv
		file_server
		header Cache-Control "public, max-age=31536000, immutable"
	}

	handle /media/* {
		root * /srv
		file_server
		header Cache-Control "public, max-age=86400"
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}
